<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tattune | View Your Music</title>
    <!-- <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/extra.css"> -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="/scripts/login.js"></script>

    <!--Import Google Icon Font-->

    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/css/materialize.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="/css/extra.css"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- <link type="text/css" rel="stylesheet" href="/css/main.css"/> -->

    <!--Let browser know website is optimized for mobile-->
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"/> -->
</head>
<body onload="setup()">



<div style="height:100vh; margin:0px 0px 0px 0px ; width:100vw; " class="limiter">

  <div style="width:100%; margin:0% 0% 0% 6% ; padding: 0px; height:100%; overflow-y:auto"class="csontainer">

    <div class="row">
      <% posts.forEach(function(post){ %>
         <div class="col s4">
           <div class="containerz">
           <a  href="/post/<%= typeof post._id.toString() !='undefined' ? post._id.toString():''%>">
             <img class="post" src="/uploads/images/<%= typeof post.post_id !='undefined' ? post.post_id:''%>" type="image/<%= filetype %>">
           </a>
         </div>
         </div>
      <%});%>
         </div>

       </div>

</div>





  <!-- UPLOAD MODAL CODE -->


  <!-- UPLOAD FILE HERE -->
  <!-- <button onclick="document.getElementById('loginModal').style.display='block'" >LOG IN</button> -->
<!-- <div style="position:relative; height:1"> -->
  <div id="loginModal" class="modal">
      <div class="modal-content animate" id="login" >
      <div class="imgcontainer">
          <span onclick="document.getElementById('loginModal').style.display='none';" class="close" title="Close Modal">&times;</span>
      </div>
      <!-- <div id='errorMsg'></div> -->

      <!-- User Entry-->
      <div id="response">hello world!</div>
      <div class="container login_box">
        <form>
          <section class="section">
              <div class="container">
                  <div class="level is-marginless">
                      <div class="level-item">
                          <h1 class="title is-1">Login</h1>
                      </div>
                  </div>
              </div>
          </section>

          <div class="section">
              <div class="container" style="max-width:250px;">
                <!-- <form action='/login' method='post'> -->
                <form>
                  <!-- username -->
                  <div class="field">
                      <p class="control has-icons-left">
                          <input class="input" id="u" name="username" type="username" placeholder="username"></input>
                          <span class="icon is-small is-left">
                              <i class="fas fa-user"></i>
                          </span>
                      </p>
                  </div>

                  <!-- password -->
                  <div class="field">
                      <div class="control has-icons-left">
                          <input class="input" id="p" name="password" type="password" placeholder="password"></input>
                          <span class="icon is-small is-left">
                              <i class="fas fa-lock"></i>
                          </span>
                      </div>
                  </div>

                  <!-- login button -->
                  <div class="level is-marginless">
                      <div class="level-item">
                          <div class="field has-text-centered">
                              <div class="control">
                                  <button type="submit" id="submit" class="button is-primary">SUBMIT</button>
                              </div>
                          </div>
                      </div>
                  </div>

                </form>
                  <div class="level is-marginless">
                      <div class="level-item">
                          <p class="help">or Sign Up <a href="/signup">here</a></p>
                      </div>
                  </div>
              </div>
          </div>

        </form>
      </div>
    </div>
  </div>
<!-- </di v> -->



  <!--
  Just Responses after Upload
  Not Needed in Final-->
  <div id="uploadResponse2"></div>


  <div class="navbar-fixed">
      <nav>
          <div class="nav-wrapper">
              <a href="/" class="brand-logo center">Critix</a>
              <a href="/" data-target="mobilesidenav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
              <ul id="nav-mobile" class="right hide-on-med-and-down">
                  <li><a href="/signup">Sign up</a></li>
                  <li><a onclick="document.getElementById('loginModal').style.display='inline-block'" href="#">Login</a></li>
                  <li><a href="/discover">Discover</a></li>
                  <li><a href="/upload">Upload</a></li>
                  <!-- <li><button onclick="document.getElementById('loginModal').style.display='inline-block'">Login</button></li> -->
              </ul>
          </div>
      </nav>
      <ul class="sidenav" id="mobilesidenav">
          <li><a href="#">Sign in</a></li>
          <li><a href="#">Login</a></li>
      </ul>
  </div>

  </body>



  <!-- Scripts for Modal Stuff -->
  <script>
  // Get the modal
  var modal = document.getElementById('loginModal');

  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function(event) {
      if (event.target == modal) {
          modal.style.display = "none";
      }
  }
  function closeBox(){
      document.getElementById('loginModal').style.display='none'
      modal.style.display = "none";
  }
  </script>





<!--JavaScript at end of body for optimized loading-->
<script type="text/javascript" src="/scripts/materialize.js"></script>
<script>
    $(document).ready(function(){
        $('.sidenav').sidenav();
    });
</script>

</html>
