<!DOCTYPE html>
<html>
<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/css/materialize.css" media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="/css/extra.css" media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <style>
    </style>
</head>

<body onload="loadPosts(); critixInit();">

<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper brown">
            <a href="/" class="brand-logo center">Critix</a>
            <a href="#" data-target="mobilesidenav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
            </ul>
        </div>
    </nav>
</div>

<ul class="sidenav" id="mobilesidenav">
</ul>


<!-- <div class="row valign-wrapper">

	<div class="col s12" id="grid-wrapper">
		<div class="row">
			<div class="col s12 m6 l3">
				<div id="post1" class="thumbnail hoverable" onclick="loadModalImg('#post1')">
					<a class="modal-trigger" href="#modal_post">
						<img src="http://hdqwalls.com/wallpapers/nature-photography-2.jpg">
					</a>
				</div>
			</div>
			<div class="col s12 m6 l3">
				<div id="post2" class="thumbnail hoverable" onclick="loadModalImg('#post2')">
					<a class="modal-trigger" href="#modal_post">
						<img class="portrait" src="https://78.media.tumblr.com/6352cd8ca6c68ebf241a25dce7608387/tumblr_p7hlusITG91slnd6ao1_540.jpg">
					</a>
				</div>
			</div>
			<div class="col s12 m6 l3">
				<div id="post3"  class="thumbnail hoverable" onclick="loadModalImg('#post3')">
					<a class="modal-trigger" href="#modal_post">
						<img src="https://78.media.tumblr.com/201df481f5e8265e7029e52795a0855f/tumblr_p7if5wkhrp1tjqkbco1_540.png">
					</a>
				</div>
			</div>
			<div class="col s12 m6 l3">
				<div id="post4" class="thumbnail hoverable" onclick="loadModalImg('#post4')">
					<a class="modal-trigger" href="#modal_post">
						<img src="https://78.media.tumblr.com/0ba238c9fa53bfd80a769439613e7a4a/tumblr_p75mz91kew1uhirv8o2_1280.jpg">
					</a>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col s12 m6 l3">
				<div id="post5" class="thumbnail hoverable" onclick="loadModalImg('#post5')">
					<a class="modal-trigger" href="#modal_post">
						<img src="https://78.media.tumblr.com/f3bda235d2271e489de2aa9f6699c04c/tumblr_p7euxhmz6h1wcn0s5o1_1280.jpg">
					</a>
				</div>
			</div>
			<div class="col s12 m6 l3">
				<div id="post6" class="thumbnail hoverable" onclick="loadModalImg('#post6')">
					<a class="modal-trigger" href="#modal_post">
						<img src="https://78.media.tumblr.com/9250279e58f4df2c97699b41eedbc30e/tumblr_p7e6uxkse51td5g4mo4_1280.jpg">
					</a>
				</div>
			</div>
    	</div>
	</div>
</div> -->



<div class="container" id="containerz"></div>



<div id="modal_post" class="modal modal-fixed-footer">
    <div class="modal-content">
        <div class="row" style="max-height:inherit;">
            <div class="col s12 m8" style="max-height:inherit;">
                <div id="post_img">
                    <img class="materialboxed" style="max-width:100%;" src="https://78.media.tumblr.com/6352cd8ca6c68ebf241a25dce7608387/tumblr_p7hlusITG91slnd6ao1_540.jpg">
                </div>
            </div>
            <div class="col s12 m4" style="max-height:inherit;">
                <div id="post_info">
                    <div class="section">
                        <span id="username" class="post-username"><a class="brown-text"></a></span>
                        <a href='#' id="link" class="link">LINK</a>
                    </div>
                    <div class="divider"></div>
                    <div class="section">
                        <span id="caption" class="post-caption"></span>
                        <br>
                        <a id="readmore" class="brown-text" onclick="toggleReadMore()"></a>
                    </div>
                    <div class="divider"></div>
                </div>
            </div>
        </div>

       	<div class="row">
       		<form class="col s12" action="">
			  <div class="row">
				<div class="input-field col s12">
				  <textarea id="commentField" class="materialize-textarea"></textarea>
				  <label for="textarea1">Leave critique for the creator!</label>
				</div>
			  </div>
			</form>
     		<div class="col s3 offset-s6">
     			<button id="btnCommentGreen" class="btn waves-effect waves-light green lighten-2" type="submit" name="action">Pro
					<i class="material-icons right">send</i>
		  		</button>
     		</div>

      		<div class="col s3">
      			<button id="btnCommentRed" class="btn waves-effect waves-light red lighten-2" type="submit" name="action">Con
					<i class="material-icons right">send</i>
		  		</button>
      		</div>
       	</div>

		<div id="commentList" class="row">
			
		</div>

  </div>

    <div class="modal-footer">
        <button class="btn-flat modal-action modal-close brown-text" title="Close"><em class="material-icons">close</em></button>
    </div>
</div>


<!-- LOGIN MODAL -->
<div id="loginModal" class="modal" style="width: 30%;">
    <form action='/login' method='post'>
        <div class="modal-content">
            <h1 style="text-align: center;">Login</h1>

            <div class="input-field col s12">
                <input id="username" name="username" type="text" required>
                <label for="username">Username</label>
            </div>

            <div class="input-field col s12">
                <input id="password" name="password" type="password" required>
                <label for="password">Password</label>
            </div>

            <div class="level is-marginless">
                    <div class="level-item">
                            <p class="help" id="errorMsg" style="color: red;"><%= typeof errorMsg !='undefined' ? errorMsg:''%> </p>
                    </div>
            </div>

            <div class="row" style="text-align: center;">
                <button id ="login_submit" class="btn brown waves-effect waves-light" type="submit">Login
                    <i class="material-icons right">send</i>
                </button>
            </div>

        </div>
    </form>
</div>



<!-- SIGNUP MODAL -->
<div id="signupModal" class="modal" style="width: 60%;">
        <form action='/register' method='post'>
            <h1 style="text-align: center;">Signup Form</h1>
                <div class="row" style="margin: 5px;">
                    <div class="input-field col s6">
                        <input placeholder="e.g. iamcool69" id="signup_username" name="username" type="text" class="" required>
                        <label for="signup_username">Username*</label>
                        <span id="signup_username_help" class="helper-text" data-error="Cannot use this username" data-success="Username is available!"></span>
                    </div>
                </div>
                <div class="row" style="margin: 5px;">
                    <div class="input-field col s6">
                        <input placeholder="&bull;&bull;&bull;&bull;&bull;&bull;" id="signup_pw" name="password" type="password" class="" required>
                        <label for="signup_pw">Password*</label>
                    </div>
                    <div class="input-field col s6">
                        <input placeholder="&bull;&bull;&bull;&bull;&bull;&bull;" id="confirm_pw" type="password" class="" onchange="" required>
                        <label for="confirm_pw">Confirm Password*</label>
                    </div>
                </div>
                <div class="row" style="margin: 5px;">
                    <div class="input-field col s6">
                        <input placeholder="First Name" id="signup_fname" name="firstname" type="text">
                        <label for="signup_fname">Full Name</label>
                    </div>
                    <div class="input-field col s6">
                        <input placeholder="Last Name" id="signup_lname" name="lastname" type="text">
                    </div>
                </div>
                <div class="row center-align">
                    <sub>* required fields</sub>
                </div>
                <div class="row center-align">
                        <button id ="signup_submit" class="btn brown waves-effect waves-light" type="submit">Sign up
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
            </form>
    </div>

<!-- UPLOAD MODAL -->
<div id="uploadModal" class="modal" style="width: 40%;">

    <form action='/upload' method='post' enctype="multipart/form-data" class="modal-content animate" id="customNames" >
        <h1 style="text-align: center;">Upload</h1>
        <!-- User Entry-->
        <div class="container">
            <!-- Choose File -->
            <div>
            <input class = "file-input" type="file" name = "image_file" id="imageFileUpload" multiple size="50" onchange="filePreview()" required>
            <label for="imageFileUpload" class="custom-file-upload">
                    Choose An Image...
                </label>
            <br>
            <img src="" height="300" alt="Image preview..." style="display: none; vertical-align: middle;">
            </div>
            <br>
            <!-- Custom Filename -->
            <label for="tite"><b>Post Title</b></label>
            <input type="text" placeholder="Enter Title" name="upload_title" required>
            <!-- Captions-->
            <label for="tite"><b>Caption</b></label>
            <textarea rows="10%" cols="100%" placeholder="Enter Caption..." name="caption" form="customNames" required></textarea>

            <div class="row center-align">
                    <button id ="upload_submit" class="btn brown waves-effect waves-light" type="submit">Upload
                        <i class="material-icons right">send</i>
                    </button>
                </div>
        </div>
    </form>
</div>





<!--JavaScript at end of body for optimized loading-->
<script type="text/javascript" src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/scripts/materialize.js"></script>
<script type="text/javascript" src="/scripts/extra.js"></script>
<script type="text/javascript" src="/scripts/main.js"></script>

</body>
</html>
