<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Tattune | View Your Music</title>
  <!-- <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/extra.css"> -->
  <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script type="text/javascript" src="/scripts/login.js"></script>

  <!--Import Google Icon Font-->

  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="/css/materialize.css"  media="screen,projection"/>
  <link type="text/css" rel="stylesheet" href="/css/extra.css"/>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- <link type="text/css" rel="stylesheet" href="/css/main.css"/> -->

  <!--Let browser know website is optimized for mobile-->
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"/> -->
  <script src="node_modules/image-compressor/image-compressor.js"></script>
</head>
<body style=" position:absolute; top;0px; height:100vh; margin:0;">
        <header>
            <h2>Pure HTML5 file upload</h2>
        </header>
        <div class="container">
            <div class="contr"><h2>You can select the file (image) and click Upload button</h2></div>

            <div class="upload_form_cont">
                <form id="upload_form" enctype="multipart/form-data" method="POST" action="/upload">
                    <div>
                        <div><label for="image_file">Please select image file</label></div>
                        <div><input name="image_file" type="file"  d="image_file" /></div>
                    </div>
                    <div class="row">
                         <div class="row">
                           <div class="input-field col s12">
                              <input name="title" type="text"  id="title" class="materialize-textarea">
                             <label for="textarea1">Title</label>
                          </div>
                        </div>
 </div>
 <div class="row">
     <div class="row">
       <div class="input-field col s12">
         <input type="text" name="author" id="author" class="materialize-textarea">
         <label for="textarea2">Author</label>
       </div>
     </div>
 </div>
                    <div>
                        <button type="submit">Upload</button>
                    </div>
                    <div id="fileinfo">
                        <div id="filename"></div>
                        <div id="filesize"></div>
                        <div id="filetype"></div>
                        <div id="filedim"></div>
                    </div>
                    <!-- <div id="error">You should select valid image files only!</div>
                    <div id="error2">An error occurred while uploading the file</div>
                    <div id="abort">The upload has been canceled by the user or the browser dropped the connection</div>
                    <div id="warnsize">Your file is very big. We can't accept it. Please select more small file</div> -->

                    <div id="progress_info">
                        <div id="progress"></div>
                        <div id="progress_percent">&nbsp;</div>
                        <div class="clear_both"></div>
                        <div>
                            <div id="speed">&nbsp;</div>
                            <div id="remaining">&nbsp;</div>
                            <div id="b_transfered">&nbsp;</div>
                            <div class="clear_both"></div>
                        </div>
                        <div id="upload_response"></div>
                    </div>
                </form>

                <img id="preview" />
            </div>
        </div>

        <div class="navbar-fixed">
            <nav>
                <div class="nav-wrapper">
                    <a href="/" class="brand-logo center">Critix</a>
                    <a href="/" data-target="mobilesidenav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li><a href="/signup">Sign up</a></li>
                        <li><a onclick="document.getElementById('loginModal').style.display='inline-block'" href="#">Login</a></li>
                        <li><a href="/discover">Discover</a></li>
                        <li><a href="/upload">Upload</a></li>
                        <!-- <li><button onclick="document.getElementById('loginModal').style.display='inline-block'">Login</button></li> -->
                    </ul>
                </div>
            </nav>
            <ul class="sidenav" id="mobilesidenav">
                <li><a href="#">Sign in</a></li>
                <li><a href="#">Login</a></li>
            </ul>
        </div>
    </body>

    <!-- Scripts for Modal Stuff -->
    <script>
    // Get the modal
    var modal = document.getElementById('loginModal');

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
    function closeBox(){
        document.getElementById('loginModal').style.display='none'
        modal.style.display = "none";
    }
    </script>





  <!--JavaScript at end of body for optimized loading-->
  <script type="text/javascript" src="/scripts/materialize.js"></script>
  <script>
      $(document).ready(function(){
          $('.sidenav').sidenav();
      });
  </script>

</html>
